body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    font-size: 1.5em
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

.index h1 {
    font-size: 3em;
    font-family:'American Typewriter', 'Serif';
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .1em; /* Adjust as needed */
    animation:
    typing 4s steps(31, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #40798C;
    font-size: .8em;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.bio {
    display: inline-block;
    background-color: #FFFFFF;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:500px;
    width: 50%;
}

.about-left-odd {
    display: inline-block;
    width: 65%;
    height: 500px;
    background-color: #FFFFFF;
}

.about-left-odd p {
    font-size: 1.1em
}

.about-right-odd {
    display: inline-block;
    width: 30%;
    float:right
}

.about-right-even {
    display: inline-block;
    width: 65%;
    height: 500px;
    background-color: #FFFFFF;
    float:right
}

.about-right-even p {
    font-size: 1.1em
}

.about-left-even {
    display: inline-block;
    width: 30%;
}

.projects-left-odd {
    display: inline-block;
    width: 50%;
    height: 500px;
    background-color: #FFFFFF;
}

.projects-left-odd p {
    font-size: 1em
}

.projects-left-odd a {
    color: #1C383D
}

.projects-right-odd {
    display: inline-block;
    width: 45%;
    float:right
}

.experience-left {
    display: inline-block;
    width: 50%;
    height: 500px;
    background-color: #FFFFFF;
}

.experience-left a {
    color: #1C383D
}

.experience-left p {
    font-size: 1em
}

.experience-right {
    display: inline-block;
    width: 45%;
    float:right
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
